@import url('/src/services/cdn.css');

  .film-card__title {
    color: white;
    font-size: 1rem;
    font-family: 'Exo 2', sans-serif;
  }
  .movie-year{
    margin-top: 40px;
    margin-bottom: 10px;
  }
.film-card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.film-card__poster{
  position: relative;
  margin-bottom: 10px;
  width: 250px;
  height: 300px;
  border: none;
  border-radius: 10px;
}

.film-card__info{
  display: flex;
  width: 230px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 50px; 
  text-align: left; 
}

.film-card__genre{
  color: gray;
  margin-bottom: 5px;
  font-family: 'Exo 2', sans-serif;
}

.Mmovie-imdb-rating{
  font-family: 'Exo 2', sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  color: white;
  width: 36px;
  height: 21px;
  border: none;
  border-radius: 5px;
}
@media (max-width: 431px) {
  .Mmovie-imdb-rating {
    position: absolute;
    top: 20px;
    left: 75px;
    display: flex;
    justify-content: center;
    color: white;
    width: 30px;
    height: 23px;
    border: none;
    border-radius: 5px;
    align-content: center;
    align-items: center;
}
}