
.signUpTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 25px;
}

.textInputs,
.nameInputContainer {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.textInputs {
  width: 100%;
  border: 0;
  outline: 0;
  background-color:#323537;
  height: 56px;
  border-radius:10px;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  box-sizing: border-box;
font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#80858b;
  min-width: 250px;
}
.nameInputContainer {
  flex-direction: column;
  align-items: flex-start;
  gap:8px;
}
.emailLabel {
    margin-right: auto;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    text-align: left;
}
.emailInputContainer,
.childInput {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.childInput {
  width: 100%;
  border: 0;
  outline: 0;
  background-color:#323537;
  height: 56px;
  border-radius:10px;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  box-sizing: border-box;
font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#80858b;
  min-width: 250px;
}
.passwordLabel {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
font-family: 'Exo 2', sans-serif;
  color:#fff;
  text-align: left;
}
.itemInput,
.passwordInputContainer {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.itemInput {
  width: 100%;
  border: 0;
  outline: 0;
  background-color:#323537;
  height: 56px;
  border-radius:10px;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  box-sizing: border-box;
font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#80858b;
  min-width: 250px;
}
.passwordInputContainer {
  flex-direction: column;
  align-items: flex-start;
  gap:8px;
}
.confirmPasswordLabel {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
font-family: 'Exo 2', sans-serif;
  color:#fff;
  text-align: left;
}
.confirmPasswordInputContainer,
.innerInput,
.nameInputField {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.innerInput {
    width: 100%;
    border: 0;
    outline: 0;
    background-color:#323537;
    height: 56px;
    border-radius:10px;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#80858b;
    min-width: 250px;
  }
  .confirmPasswordInputContainer,
  .nameInputField {
    flex-direction: column;
    align-items: flex-start;
  }
  .confirmPasswordInputContainer {
    gap:8px;
  }
  .nameInputField {
    gap: 24px 0;
  }
  .buttonDiv {
    height: 56px;
    width: 494px;
    position: relative;
    border-radius:10px;
    background-color:#7b61ff;
    display: none;
    max-width: 100%;
  }
  .signUpButton {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  font-family: 'Exo 2', sans-serif;
    color:#fff;
    text-align: left;
    z-index: 1;
  }
  .inputGroupFrame,
  .buttonContainer {
    align-self: stretch;
    display: flex;
    max-width: 100%;
  }
  .buttonContainer {
    cursor: pointer;
    border: 0;
    padding: 16px 20px 16px 21px;
    background-color:#7b61ff;
    border-radius:10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
  }
  .buttonContainer:hover {
    background-color: #947aff;
  }
  .inputGroupFrame {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px 0;
  }
  .signInLink {
    color:#7b61ff;
  }
  .accountExistContainer {
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }

  .emailInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
  }
  .emailInputContainer {
    align-self: stretch;
    gap: 10px 0;
    font-size: 16px;
    color:#80858b;
  }
  .passwordConfirmationFrame {
    margin: auto;
    width: 574px;
    border-radius:10px;
    background-color:#242426;
    padding: 40px;
    box-sizing: border-box;
    gap: 40px 0;
    z-index: 3;
  }
  .rightsReservedText {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    z-index: 3;
  }
  .copyRightContainer,
  .signUpContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    height: 100vh;
    background-image: url(./child-frame@2x.png);
    background-size: 150%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .copyRightContainer {
    flex-direction: column;
    padding: 819px 0 0;
    margin-left: -366px;
    font-size: 16px;
  }
  .signUpContainer {
    width: 100%;
    height: 1080px;
    position: relative;
    background-color:black;
    overflow: hidden;
    flex-direction: row;
    padding: 174px var(--padding-654xl) 63px;
    box-sizing: border-box;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-5xl);
    color:#fff;
  font-family: 'Exo 2', sans-serif;
  }
  @media (max-width: 431px) {
    .passwordConfirmationFrame {width: 357px;}
  
  .textInputs,.itemInput,.childInput,.innerInput {
    min-width: 230px;
  }
  .emailInputContainer,.passwordInputContainer,.confirmPasswordInputContainer{
    min-width: 275px;
  }

  }